<html>
    <head>
        <title><%= @user.username + "'s Profile" %></title>
    </head>
    <body>
        <!-- formatting can be improved. no WF for this view exists; will use the layout for edit profile when implemented -->
        <%= render "shared/header" %>
    </body>
</html>
