<html>
    <head>
        <title>Games</title>
    </head>
    <body>
        <% @games.each do |g| %>
            <%= link_to g.title, new_offer_path(:listing_id => params[:listing_id], :game_id => g) %>
            <br>
        <% end %>
    </body>
</html>
