<html>
    <head>
        <title>Page Title Goes Here</title><!-- TBD; not in WF -->
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col align-content-center">
                    <h1 style="text-align: center">New Offer</h1>
                </div>
            </div>
            <div class="row justify-content-center">
                <div id="listing_col" class="col-1 align-content-center" style="background: yellow">

                    Listing

                </div>
                <div id="center" class="col-2 align-items-center" style="width: 50%; align: center">
                <center>
                    <->
                </center>
                </div>
                <div id="offer col" class="col-3">
                    <center>
                    Offer
                    </center>
                </div>
            </div>
        </div>
    </body>
</html>
<!-- dev only -->
